/*Created by Fayed Raza*/
h1{
    text-align: center;
    font-size: 75px;
    font-family: "Times New Roman", Times, serif;
 }
 h2{
    text-align: center;
    font-size: 200%;
    font-family: "Times New Roman", Times, serif;
 }
 h3{
    text-align: center;
    font-size: 170%;
    font-family: "Times New Roman", Times, serif;
 }
 h4{
    text-align: center;
    font-size: 150%;
    font-family: "Times New Roman", Times, serif;
 }
 .text{
    background-color: lightgrey;
  text-align: center;
  border: 3px solid rgb(223, 217, 217);
  padding: 25px;
  margin: 20px;
font-family: "Times New Roman", Times, serif;
font-size: 110%;
}
 
 .problem{
    background-color: rgb(235, 166, 166);
  text-align: center;
  border: 2px solid rgb(223, 217, 217);
  padding: 25px;
   margin: 20px;
   font-size: 120%;
   font-family: "Times New Roman", Times, serif;
   font-weight: 825;
 }
 .solutions{
    background-color: rgb(177, 177, 228);
  text-align: center;
  border: 3px solid rgb(223, 217, 217);
  padding: 25px;
margin: 20px;
font-size: 115%;
font-family: "Times New Roman", Times, serif;
   font-weight: 700;
 }
 .image{
    display: block;
    margin-right: auto;
margin-left: auto;

width: 50%;
 }

  .darker{
    text-align: center;
  }
 .darker > a:hover{
    filter: brightness(50%);
  }

 .text{
    background-color: lightgrey;
  text-align: center;
  border: 3px solid rgb(223, 217, 217);
  padding: 25px;
margin: 20px;
font-size: 115%;
   
 }
.flex-container{
 display: flex;
justify-content: center;

}

.flex-container > div {
  margin: 10px;
}

#header-nav {
background-color: green;
border-radius: 0;
border: 0;

}